@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap");

.nav-container {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.097), rgba(255, 255, 255, 0));
    display: flex;
    padding: 0 4rem 0 4rem ;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.nav-container.scrolled {
    background-color: #0f172b;
    position: fixed;
    width: 92vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 1s ease; 
    top: 0;
}

.links-container {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
}

.link {
    position: relative;
    font-size: 1rem;
    margin-left: 1em;
    text-transform: uppercase;
}

.btn {
    cursor: pointer;
    color: white;
}

.btn:hover {
    color: #FEA116;
}

.btn p {
    margin-left: 0.2em;
    font-size: calc(1.375rem + 1.5vw);
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 1em;
}

.active {
    color: #FEA116;
  }
  
.submenu-item {
    background-color: #ffffff;
    padding: 10px 20px;
    color: #1c2a48;
    font-size: 0.9rem;
    text-transform: none;
}

.submenu-item:hover {
    background-color: #F1F8FF;
    cursor: pointer;
}

.login-container {
    background-color: #FEA116;
    color: white;
    padding: 0.2em 1em 0.2em 1em;
    border-radius: 0.1em;
    font-size: 1.8em;
    margin-left: 3em;
}

.login-container:hover {
    background-color: #fdbe60;
    cursor: pointer;
}

.logo {
    color: #FEA116;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    max-height: 3em;
    font-size: 2em;
}

.logo:hover {
    color: #ffa825;
}
